# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [20]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import requests
from selenium import webdriver

In [21]:
#identify the path
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://static.bc-edx.com/data/web/mars_facts/temperature.html). Inspect the page to identify which elements to scrape.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [22]:
# Visit the Mars Temperature Data Site: 
url = 'https://static.bc-edx.com/data/web/mars_facts/temperature.html'
response = requests.get(url)
browser.visit(url)
html = requests.get(url).text
article_list_soup = soup(html, 'html.parser')
html_content = response.content
soup = BeautifulSoup(html_content, 'html.parser')

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [23]:
# Extract data as test
title = soup.title
print(title)
print(title.string)

<title>Mars Temperature Data</title>
Mars Temperature Data

In [26]:
Links = soup.find_all('link',href=True)
for link in Links:
    print(link['href'])

css/bootstrap.min.5.2.2.css
css/temp.css

In [36]:
#a little more practice

Data_Rows = soup.find_all('table',data_row=True)
for data_row in Data_Rows:
    print(table[data_row])

In [38]:
# find the table rows using the 'find_all' method (To be revised)
soup_data_rows = soup.find_all('tr')
print(data_rows)

NameError: name 'data_rows' is not defined

In [32]:
# Create a Beautiful Soup Object

try:
    data_rows_soup = soup_rows.find('tbody', class_='tr')
    rows_data = soup_data.find_all('tr', class_='data_row')
except Exception as e:
    print(f'Error scraping rows_data: {e}')
    browser.quit()

Error scraping rows_data: name 'soup_rows' is not defined

In [ ]:
# find the table element containing the data
table = soup.find('table', {'class': 'data-table'})

In [9]:
# Extract all rows of data
try:
    rows_of_data_soup = soup.find_all('table', class_='table')
    rows_data_soup = soup.find_all('tbody', class_='data_row')
    
except Exception as e:
    print(f'Error scraping rows_data: {e}')
    browser.quit()

WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f88a61b9d90>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/b534ba0f8ab90febd8b4d6a2f7bffa89
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f88a152f1d0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/b534ba0f8ab90febd8b4d6a2f7bffa89
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f88a61b92d0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/b534ba0f8ab90febd8b4d6a2f7bffa89
WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f88a61c0890>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/b534ba0f8ab90febd8b4d6a2f7bffa89
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f88a61c0b10>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/b534ba0f8ab90febd8b4d6a2f7bffa89
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f88a61c0bd0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/b534ba0f8ab90febd8b4d6a2f7bffa89
WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f88a61c0050>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/b534ba0f8ab90febd8b4d6a2f7bffa89
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f88a61c0150>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/b534ba0f8ab90febd8b4d6a2f7bffa89
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f88a610c350>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/b534ba0f8ab90febd8b4d6a2f7bffa89

Error scraping rows_data: 'str' object has no attribute 'descendants'

In [10]:
rows_data_soup

NameError: name 'rows_data_soup' is not defined

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Here’s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [ ]:
# Create an empty list

# Loop through the scraped data to create a list of rows

In [ ]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names

In [ ]:
# Confirm DataFrame was created successfully

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

  > **Hint** You can use the Pandas `astype` and `to_datetime` methods to accomplish this task.

In [ ]:
# Examine data type of each column

In [ ]:
# Change data types for data analysis

In [ ]:
# Confirm type changes were successful by examining data types again

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [ ]:
# 1. How many months are there on Mars?

In [ ]:
# 2. How many Martian days' worth of data are there?

In [ ]:
# 3. What is the average low temperature by month?

In [ ]:
# Plot the average temperature by month

In [ ]:
# Identify the coldest and hottest months in Curiosity's location

In [ ]:
# 4. Average pressure by Martian month

In [ ]:
# Plot the average pressure by month

In [ ]:
# 5. How many terrestrial (earth) days are there in a Martian year?

On average, the third month has the coldest minimum temperature on Mars, and the eighth month is the warmest. But it is always very cold there in human terms!

Atmospheric pressure is, on average, lowest in the sixth month and highest in the ninth.

The distance from peak to peak is roughly 1425-750, or 675 days. A year on Mars appears to be about 675 days from the plot. Internet search confirms that a Mars year is equivalent to 687 earth days.

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [ ]:
# Write the data to a CSV

In [ ]:
browser.quit()